# 3. Data transformation

Taken from [the book](https://r4ds.hadley.nz/data-transform).

In [2]:
library(nycflights13)
library(tidyverse)

── Attaching core tidyverse packages ──────────────────────── tidyverse 2.0.0 ──
✔ dplyr     1.1.4     ✔ readr     2.1.5
✔ forcats   1.0.0     ✔ stringr   1.5.1
✔ ggplot2   3.5.1     ✔ tibble    3.2.1
✔ lubridate 1.9.3     ✔ tidyr     1.3.1
✔ purrr     1.0.2
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()
ℹ Use the conflicted package (<http://conflicted.r-lib.org/>) to force all conflicts to become errors

## Exploring the data

In [2]:
glimpse(flights)

Rows: 336,776
Columns: 19
$ year           <int> 2013, 2013, 2013, 2013, 2013, 2013, 2013, 2013, 2013, 2…
$ month          <int> 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1…
$ day            <int> 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 1…
$ dep_time       <int> 517, 533, 542, 544, 554, 554, 555, 557, 557, 558, 558, …
$ sched_dep_time <int> 515, 529, 540, 545, 600, 558, 600, 600, 600, 600, 600, …
$ dep_delay      <dbl> 2, 4, 2, -1, -6, -4, -5, -3, -3, -2, -2, -2, -2, -2, -1…
$ arr_time       <int> 830, 850, 923, 1004, 812, 740, 913, 709, 838, 753, 849,…
$ sched_arr_time <int> 819, 830, 850, 1022, 837, 728, 854, 723, 846, 745, 851,…
$ arr_delay      <dbl> 11, 20, 33, -18, -25, 12, 19, -14, -8, 8, -2, -3, 7, -1…
$ carrier        <chr> "UA", "UA", "AA", "B6", "DL", "UA", "B6", "EV", "B6", "…
$ flight         <int> 1545, 1714, 1141, 725, 461, 1696, 507, 5708, 79, 301, 4…
$ tailnum        <chr> "N14228", "N24211", "N619AA", "N804JB", "N668DN", "N394…
$ origin         <chr> "EWR", "LGA", "JFK", "JFK", "LGA", "EWR", "EWR", "LGA",…
$ dest           <chr> "IAH", "IAH", "MIA", "BQN", "ATL", "ORD", "FLL", "IAD",…
$ air_time       <dbl> 227, 227, 160, 183, 116, 150, 158, 53, 140, 138, 149, 1…
$ distance       <dbl> 1400, 1416, 1089, 1576, 762, 719, 1065, 229, 944, 733, …
$ hour           <dbl> 5, 5, 5, 5, 6, 5, 6, 6, 6, 6, 6, 6, 6, 6, 6, 5, 6, 6, 6…
$ minute         <dbl> 15, 29, 40, 45, 0, 58, 0, 0, 0, 0, 0, 0, 0, 0, 0, 59, 0…
$ time_hour      <dttm> 2013-01-01 05:00:00, 2013-01-01 05:00:00, 2013-01-01 0…

In [4]:
head(flights)

  year month day dep_time sched_dep_time dep_delay arr_time sched_arr_time
1 2013 1     1   517      515             2         830      819
2 2013 1     1   533      529             4         850      830
3 2013 1     1   542      540             2         923      850
4 2013 1     1   544      545            -1        1004     1022
5 2013 1     1   554      600            -6         812      837
6 2013 1     1   554      558            -4         740      728
  arr_delay carrier flight tailnum origin dest air_time distance hour minute
1  11       UA      1545   N14228  EWR    IAH  227      1400     5    15
2  20       UA      1714   N24211  LGA    IAH  227      1416     5    29
3  33       AA      1141   N619AA  JFK    MIA  160      1089     5    40
4 -18       B6       725   N804JB  JFK    BQN  183      1576     5    45
5 -25       DL       461   N668DN  LGA    ATL  116       762     6     0
6  12       UA      1696   N39463  EWR    ORD  150       719     5    58
  time_hour
1 2013-01-01 05:00:00
2 2013-01-01 05:00:00
3 2013-01-01 05:00:00
4 2013-01-01 05:00:00
5 2013-01-01 06:00:00
6 2013-01-01 05:00:00

## Intro to `dplyr`

In [6]:
flights |>
  filter(dest == "IAH") |>
  group_by(year, month, day) |>
  summarize(
    arr_delay = mean(arr_delay, na.rm = TRUE)
  ) |>
  head()

`summarise()` has grouped output by 'year', 'month'. You can override using the
`.groups` argument.

  year month day arr_delay
1 2013 1     1   17.850000
2 2013 1     2    7.000000
3 2013 1     3   18.315789
4 2013 1     4   -3.200000
5 2013 1     5   20.230769
6 2013 1     6    9.277778

In [9]:
flights |>
  filter(dep_delay > 120) |>
  head(10)

   year month day dep_time sched_dep_time dep_delay arr_time sched_arr_time
1  2013 1     1    848     1835           853       1001     1950
2  2013 1     1    957      733           144       1056      853
3  2013 1     1   1114      900           134       1447     1222
4  2013 1     1   1540     1338           122       2020     1825
5  2013 1     1   1815     1325           290       2120     1542
6  2013 1     1   1842     1422           260       1958     1535
7  2013 1     1   1856     1645           131       2212     2005
8  2013 1     1   1934     1725           129       2126     1855
9  2013 1     1   1938     1703           155       2109     1823
10 2013 1     1   1942     1705           157       2124     1830
   arr_delay carrier flight tailnum origin dest air_time distance hour minute
1  851       MQ      3944   N942MQ  JFK    BWI   41       184     18   35
2  123       UA       856   N534UA  EWR    BOS   37       200      7   33
3  145       UA      1086   N76502  LGA    IAH  248      1416      9    0
4  115       B6       705   N570JB  JFK    SJU  193      1598     13   38
5  338       EV      4417   N17185  EWR    OMA  213      1134     13   25
6  263       EV      4633   N18120  EWR    BTV   46       266     14   22
7  127       AA       181   N323AA  JFK    LAX  336      2475     16   45
8  151       MQ      4255   N909MQ  JFK    BNA  154       765     17   25
9  166       EV      4300   N18557  EWR    RIC   68       277     17    3
10 174       MQ      4410   N835MQ  JFK    DCA   60       213     17    5
   time_hour
1  2013-01-01 18:00:00
2  2013-01-01 07:00:00
3  2013-01-01 09:00:00
4  2013-01-01 13:00:00
5  2013-01-01 13:00:00
6  2013-01-01 14:00:00
7  2013-01-01 16:00:00
8  2013-01-01 17:00:00
9  2013-01-01 17:00:00
10 2013-01-01 17:00:00

In [21]:
# Flights that departed on January 1
flights |>
  filter(month == 1 & day == 1) |>
  sample_n(10)

   year month day dep_time sched_dep_time dep_delay arr_time sched_arr_time
1  2013 1     1   1318     1322           -4        1358     1416
2  2013 1     1    805      800            5        1118     1106
3  2013 1     1    857      905           -8        1107     1120
4  2013 1     1   1251     1252           -1        1611     1555
5  2013 1     1    629      630           -1         824      810
6  2013 1     1   1515     1437           38        1834     1742
7  2013 1     1   1005     1000            5        1239     1234
8  2013 1     1   1720     1725           -5        2121     2105
9  2013 1     1   1456     1500           -4        1649     1632
10 2013 1     1   1422     1410           12        1613     1555
   arr_delay carrier flight tailnum origin dest air_time distance hour minute
1  -18       EV      4106   N19554  EWR    BDL   25       116     13   22
2   12       B6         3   N570JB  JFK    FLL  165      1069      8    0
3  -13       DL       181   N321NB  LGA    DTW  110       502      9    5
4   16       B6        85   N657JB  JFK    FLL  173      1069     12   52
5   14       AA       303   N3CYAA  LGA    ORD  140       733      6   30
6   52       B6       347   N178JB  JFK    SRQ  171      1041     14   37
7    5       UA      1625   N81449  EWR    DEN  254      1605     10    0
8   16       DL       513   N723TW  JFK    LAX  363      2475     17   25
9   17       UA       685   N802UA  LGA    ORD  140       733     15    0
10  18       MQ      4491   N737MQ  LGA    CLE   93       419     14   10
   time_hour
1  2013-01-01 13:00:00
2  2013-01-01 08:00:00
3  2013-01-01 09:00:00
4  2013-01-01 12:00:00
5  2013-01-01 06:00:00
6  2013-01-01 14:00:00
7  2013-01-01 10:00:00
8  2013-01-01 17:00:00
9  2013-01-01 15:00:00
10 2013-01-01 14:00:00

In [20]:
# Flights that departed in January or February
flights |>
  filter(month == 1 | month == 2) |>
  sample_n(10)

   year month day dep_time sched_dep_time dep_delay arr_time sched_arr_time
1  2013 1     16  2008     2005             3       2254     2258
2  2013 1     28   900      905            -5       1125     1115
3  2013 2     16  1758     1745            13       2114     2136
4  2013 1     18  1541     1530            11       1755     1734
5  2013 1     24  2348     2359           -11        418      444
6  2013 2     18  1600     1604            -4       1718     1739
7  2013 2     27  2020     1900            80       2144     2018
8  2013 2     18  2022     2010            12       2325     2321
9  2013 1     21   601      608            -7        654      725
10 2013 2     28  1459     1500            -1       1747     1742
   arr_delay carrier flight tailnum origin dest air_time distance hour minute
1   -4       UA       405   N411UA  EWR    MCO  141       937     20    5
2   10       MQ      4478   N739MQ  LGA    DTW  109       502      9    5
3  -22       DL        31   N721TW  JFK    SFO  348      2586     17   45
4   21       US      1665   N716UW  LGA    CLT   86       544     15   30
5  -26       B6       739   N605JB  JFK    PSE  193      1617     23   59
6  -21       UA      1053   N76254  EWR    ORD  120       719     16    4
7   86       EV      5714   N827AS  JFK    IAD   48       228     19    0
8    4       UA      1299   N37255  EWR    RSW  164      1068     20   10
9  -31       UA       733   N822UA  EWR    BOS   32       200      6    8
10   5       DL      2347   N6708D  LGA    ATL  112       762     15    0
   time_hour
1  2013-01-16 20:00:00
2  2013-01-28 09:00:00
3  2013-02-16 17:00:00
4  2013-01-18 15:00:00
5  2013-01-24 23:00:00
6  2013-02-18 16:00:00
7  2013-02-27 19:00:00
8  2013-02-18 20:00:00
9  2013-01-21 06:00:00
10 2013-02-28 15:00:00

In [23]:
# A shorter way to select flights that departed in January or February
flights |>
  filter(month %in% c(1, 2)) |>
  sample_n(10)

   year month day dep_time sched_dep_time dep_delay arr_time sched_arr_time
1  2013 1     24   919      920           -1        1242     1233
2  2013 1      4   810      810            0        1029     1030
3  2013 1      6  1126     1130           -4        1253     1306
4  2013 1     22  1105     1105            0        1241     1245
5  2013 1     31  1801     1800            1        1922     1913
6  2013 1     30  1523     1345           98        1754     1641
7  2013 1     25   730      710           20         933      850
8  2013 1      5   537      540           -3         831      850
9  2013 2     26  1556     1605           -9        1912     1911
10 2013 2      9    NA     1600           NA          NA     1730
   arr_delay carrier flight tailnum origin dest air_time distance hour minute
1    9       UA      1275   N57869  EWR    LAX  332      2454      9   20
2   -1       FL       346   N899AT  LGA    ATL  115       762      8   10
3  -13       EV      4431   N16151  EWR    RDU   75       416     11   30
4   -4       WN       542   N443WN  LGA    MDW  121       725     11    5
5    9       US      2185   N748UW  LGA    DCA   47       214     18    0
6   73       B6      1783   N805JB  JFK    MCO  139       944     13   45
7   43       MQ      3737   N507MQ  EWR    ORD  129       719      7   10
8  -19       AA      1141   N5DBAA  JFK    MIA  153      1089      5   40
9    1       B6       157   N794JB  JFK    MCO  157       944     16    5
10  NA       9E      3453   NA      JFK    BOS   NA       187     16    0
   time_hour
1  2013-01-24 09:00:00
2  2013-01-04 08:00:00
3  2013-01-06 11:00:00
4  2013-01-22 11:00:00
5  2013-01-31 18:00:00
6  2013-01-30 13:00:00
7  2013-01-25 07:00:00
8  2013-01-05 05:00:00
9  2013-02-26 16:00:00
10 2013-02-09 16:00:00

## Intro to `arrange`

In [25]:
flights |>
  arrange(desc(year), desc(month), desc(day), desc(dep_time)) |>
  head(10)

   year month day dep_time sched_dep_time dep_delay arr_time sched_arr_time
1  2013 12    31  2356     2359            -3        436      445
2  2013 12    31  2355     2359            -4        430      440
3  2013 12    31  2332     2245            47         58        3
4  2013 12    31  2328     2330            -2        412      409
5  2013 12    31  2321     2250            31         46        8
6  2013 12    31  2310     2255            15          7     2356
7  2013 12    31  2245     2250            -5       2359     2356
8  2013 12    31  2235     2245           -10       2351     2355
9  2013 12    31  2218     2219            -1        315      304
10 2013 12    31  2211     2159            12        100       45
   arr_delay carrier flight tailnum origin dest air_time distance hour minute
1   -9       B6       745   N665JB  JFK    PSE  200      1617     23   59
2  -10       B6      1503   N509JB  JFK    SJU  195      1598     23   59
3   55       B6       486   N334JB  JFK    ROC   60       264     22   45
4    3       B6      1389   N651JB  EWR    SJU  198      1608     23   30
5   38       B6      2002   N179JB  JFK    BUF   66       301     22   50
6   11       B6       718   N279JB  JFK    BOS   40       187     22   55
7    3       B6      1816   N318JB  JFK    SYR   51       209     22   50
8   -4       B6       234   N355JB  JFK    BTV   49       266     22   45
9   11       B6      1203   N625JB  JFK    SJU  202      1598     22   19
10  15       B6      1183   N715JB  JFK    MCO  148       944     21   59
   time_hour
1  2013-12-31 23:00:00
2  2013-12-31 23:00:00
3  2013-12-31 22:00:00
4  2013-12-31 23:00:00
5  2013-12-31 22:00:00
6  2013-12-31 22:00:00
7  2013-12-31 22:00:00
8  2013-12-31 22:00:00
9  2013-12-31 22:00:00
10 2013-12-31 21:00:00

## Intro to `distinct`

In [29]:
# Remove duplicate rows, if any
flights |>
  distinct() |>
  sample_n(10)

   year month day dep_time sched_dep_time dep_delay arr_time sched_arr_time
1  2013  6    29  1354     1349            5        1459     1504
2  2013  5    21  1903     1909           -6        2159     2235
3  2013  9    19  1830     1830            0        2037     2029
4  2013  5     7  1440     1445           -5        1623     1645
5  2013 10    11   843      850           -7        1001     1003
6  2013  5    19  2248     2130           78          29     2247
7  2013  6    19  1635     1635            0        1935     1954
8  2013  4    21  1449     1455           -6        1630     1632
9  2013 10    17   843      825           18        1131     1120
10 2013  4     6   639      640           -1         936     1000
   arr_delay carrier flight tailnum origin dest air_time distance hour minute
1   -5       B6       118   N318JB  JFK    BOS   42       187     13   49
2  -36       B6        87   N633JB  JFK    SLC  265      1990     19    9
3    8       DL       548   N316US  EWR    DTW   78       488     18   30
4  -22       US      1445   N193UW  LGA    CLT   78       544     14   45
5   -2       EV      3810   N14907  EWR    BUF   44       282      8   50
6  102       EV      4378   N12564  EWR    BTV   60       266     21   30
7  -19       B6        15   N821JB  JFK    FLL  148      1069     16   35
8   -2       9E      3318   N907XJ  JFK    BUF   56       301     14   55
9   11       UA       478   N483UA  EWR    MCO  128       937      8   25
10 -24       UA       387   N822UA  EWR    LAX  338      2454      6   40
   time_hour
1  2013-06-29 13:00:00
2  2013-05-21 19:00:00
3  2013-09-19 18:00:00
4  2013-05-07 14:00:00
5  2013-10-11 08:00:00
6  2013-05-19 21:00:00
7  2013-06-19 16:00:00
8  2013-04-21 14:00:00
9  2013-10-17 08:00:00
10 2013-04-06 06:00:00

In [30]:
# Find all possible destinations
flights |>
  distinct(dest) |>
  head(10)

   dest
1  IAH
2  MIA
3  BQN
4  ATL
5  ORD
6  FLL
7  IAD
8  MCO
9  PBI
10 TPA

In [26]:
# Find all unique origin and destination pairs
flights |>
  distinct(origin, dest) |>
  sample_n(10)

   origin dest
1  LGA    SAV
2  EWR    AVL
3  JFK    TPA
4  LGA    HOU
5  EWR    IND
6  JFK    ABQ
7  JFK    BOS
8  JFK    HOU
9  LGA    CVG
10 EWR    MDW

In [33]:
# Keep the other columns as well
flights |>
  distinct(origin, dest, .keep_all = TRUE) |>
  head(10)

   year month day dep_time sched_dep_time dep_delay arr_time sched_arr_time
1  2013 1     1   517      515             2         830      819
2  2013 1     1   533      529             4         850      830
3  2013 1     1   542      540             2         923      850
4  2013 1     1   544      545            -1        1004     1022
5  2013 1     1   554      600            -6         812      837
6  2013 1     1   554      558            -4         740      728
7  2013 1     1   555      600            -5         913      854
8  2013 1     1   557      600            -3         709      723
9  2013 1     1   557      600            -3         838      846
10 2013 1     1   558      600            -2         753      745
   arr_delay carrier flight tailnum origin dest air_time distance hour minute
1   11       UA      1545   N14228  EWR    IAH  227      1400     5    15
2   20       UA      1714   N24211  LGA    IAH  227      1416     5    29
3   33       AA      1141   N619AA  JFK    MIA  160      1089     5    40
4  -18       B6       725   N804JB  JFK    BQN  183      1576     5    45
5  -25       DL       461   N668DN  LGA    ATL  116       762     6     0
6   12       UA      1696   N39463  EWR    ORD  150       719     5    58
7   19       B6       507   N516JB  EWR    FLL  158      1065     6     0
8  -14       EV      5708   N829AS  LGA    IAD   53       229     6     0
9   -8       B6        79   N593JB  JFK    MCO  140       944     6     0
10   8       AA       301   N3ALAA  LGA    ORD  138       733     6     0
   time_hour
1  2013-01-01 05:00:00
2  2013-01-01 05:00:00
3  2013-01-01 05:00:00
4  2013-01-01 05:00:00
5  2013-01-01 06:00:00
6  2013-01-01 05:00:00
7  2013-01-01 06:00:00
8  2013-01-01 06:00:00
9  2013-01-01 06:00:00
10 2013-01-01 06:00:00

## Intro to `count`

In [35]:
# Top 10 routes
flights |>
  count(origin, dest, sort = TRUE) |>
  head(10)

   origin dest n
1  JFK    LAX  11262
2  LGA    ATL  10263
3  LGA    ORD   8857
4  JFK    SFO   8204
5  LGA    CLT   6168
6  EWR    ORD   6100
7  JFK    BOS   5898
8  LGA    MIA   5781
9  JFK    MCO   5464
10 EWR    BOS   5327

## Exercises

### Exercise 1.

In a single pipeline for each condition, find all flights that meet the condition:

- Had an arrival delay of two or more hours
- Flew to Houston (IAH or HOU)
- Were operated by United, American, or Delta
- Departed in summer (July, August, and September)
- Arrived more than two hours late, but didn’t leave late
- Were delayed by at least an hour, but made up over 30 minutes in flight

In [3]:
head(flights)

  year month day dep_time sched_dep_time dep_delay arr_time sched_arr_time
1 2013 1     1   517      515             2         830      819
2 2013 1     1   533      529             4         850      830
3 2013 1     1   542      540             2         923      850
4 2013 1     1   544      545            -1        1004     1022
5 2013 1     1   554      600            -6         812      837
6 2013 1     1   554      558            -4         740      728
  arr_delay carrier flight tailnum origin dest air_time distance hour minute
1  11       UA      1545   N14228  EWR    IAH  227      1400     5    15
2  20       UA      1714   N24211  LGA    IAH  227      1416     5    29
3  33       AA      1141   N619AA  JFK    MIA  160      1089     5    40
4 -18       B6       725   N804JB  JFK    BQN  183      1576     5    45
5 -25       DL       461   N668DN  LGA    ATL  116       762     6     0
6  12       UA      1696   N39463  EWR    ORD  150       719     5    58
  time_hour
1 2013-01-01 05:00:00
2 2013-01-01 05:00:00
3 2013-01-01 05:00:00
4 2013-01-01 05:00:00
5 2013-01-01 06:00:00
6 2013-01-01 05:00:00

In [8]:
flights |>
  filter(arr_delay / 60 >= 2) |>
  filter(dest %in% c("IAH", "HOU")) |>
  filter(carrier %in% c("UA", "AA", "DL")) |>
  filter(month %in% c(7, 8, 9)) |>
  sample_n(10)

   year month day dep_time sched_dep_time dep_delay arr_time sched_arr_time
1  2013 9     22  2000     1700           180       2232     1955
2  2013 7     10  1629     1520            69       2048     1754
3  2013 8      9  1850     1730            80       2221     2007
4  2013 7     22  1524     1249           155       1902     1541
5  2013 7     22  2018     1735           163       2344     2030
6  2013 7      9  1937     1735           122       2240     2030
7  2013 8     22  1956     1735           141       2239     2030
8  2013 9      2  1833     1520           193       2105     1810
9  2013 8     16  1652     1259           233       1935     1551
10 2013 7     25  2147     1520           387          8     1754
   arr_delay carrier flight tailnum origin dest air_time distance hour minute
1  157       AA       211   N3DDAA  JFK    IAH  184      1417     17    0
2  174       UA       646   N578UA  EWR    IAH  187      1400     15   20
3  134       UA       268   N524UA  EWR    IAH  182      1400     17   30
4  201       UA       215   N430UA  LGA    IAH  187      1416     12   49
5  194       AA      1901   N3CAAA  JFK    IAH  196      1417     17   35
6  130       AA      1901   N3ARAA  JFK    IAH  174      1417     17   35
7  129       AA      1901   N3EEAA  JFK    IAH  182      1417     17   35
8  175       UA       498   N497UA  EWR    IAH  184      1400     15   20
9  224       UA       643   N428UA  LGA    IAH  198      1416     12   59
10 374       UA       646   N569UA  EWR    IAH  181      1400     15   20
   time_hour
1  2013-09-22 17:00:00
2  2013-07-10 15:00:00
3  2013-08-09 17:00:00
4  2013-07-22 12:00:00
5  2013-07-22 17:00:00
6  2013-07-09 17:00:00
7  2013-08-22 17:00:00
8  2013-09-02 15:00:00
9  2013-08-16 12:00:00
10 2013-07-25 15:00:00

### Exercise 2

Sort flights to find the flights with longest departure delays. Find the flights that left earliest in the morning.

In [10]:
flights |>
  arrange(desc(dep_delay), dep_time, .keep_all = TRUE) |>
  head(10)

   year month day dep_time sched_dep_time dep_delay arr_time sched_arr_time
1  2013  1     9   641      900           1301      1242     1530
2  2013  6    15  1432     1935           1137      1607     2120
3  2013  1    10  1121     1635           1126      1239     1810
4  2013  9    20  1139     1845           1014      1457     2210
5  2013  7    22   845     1600           1005      1044     1815
6  2013  4    10  1100     1900            960      1342     2211
7  2013  3    17  2321      810            911       135     1020
8  2013  6    27   959     1900            899      1236     2226
9  2013  7    22  2257      759            898       121     1026
10 2013 12     5   756     1700            896      1058     2020
   arr_delay carrier flight tailnum origin dest air_time distance hour minute
1  1272      HA        51   N384HA  JFK    HNL  640      4983      9    0
2  1127      MQ      3535   N504MQ  JFK    CMH   74       483     19   35
3  1109      MQ      3695   N517MQ  EWR    ORD  111       719     16   35
4  1007      AA       177   N338AA  JFK    SFO  354      2586     18   45
5   989      MQ      3075   N665MQ  JFK    CVG   96       589     16    0
6   931      DL      2391   N959DL  JFK    TPA  139      1005     19    0
7   915      DL      2119   N927DA  LGA    MSP  167      1020      8   10
8   850      DL      2007   N3762Y  JFK    PDX  313      2454     19    0
9   895      DL      2047   N6716C  LGA    ATL  109       762      7   59
10  878      AA       172   N5DMAA  EWR    MIA  149      1085     17    0
   time_hour
1  2013-01-09 09:00:00
2  2013-06-15 19:00:00
3  2013-01-10 16:00:00
4  2013-09-20 18:00:00
5  2013-07-22 16:00:00
6  2013-04-10 19:00:00
7  2013-03-17 08:00:00
8  2013-06-27 19:00:00
9  2013-07-22 07:00:00
10 2013-12-05 17:00:00

### Exercise 3

Sort flights to find the fastest flights. (Hint: Try including a math calculation inside of your function.)

In [12]:
flights |>
  arrange(arr_time - (dep_time - 2400), .keep_all = TRUE) |>
  head(10)

   year month day dep_time sched_dep_time dep_delay arr_time sched_arr_time
1  2013  7    17  2400     2142           138       54       2259
2  2013 12     9  2400     2250            70       59       2356
3  2013  6    12  2338     2129           129       17       2235
4  2013 12    29  2332     2155            97       14       2300
5  2013 11     6  2335     2215            80       18       2317
6  2013  2    25  2347     2145           122       30       2239
7  2013  8    13  2351     2152           119       35       2258
8  2013 10    11  2342     2030           192       27       2205
9  2013  2    26  2356     2000           236       41       2104
10 2013  1    24  2342     2159           103       28       2300
   arr_delay carrier flight tailnum origin dest air_time distance hour minute
1  115       EV      3832   N22971  EWR    DCA  37       199      21   42
2   63       B6      1816   N187JB  JFK    SYR  41       209      22   50
3  102       EV      4276   N11109  EWR    BDL  21       116      21   29
4   74       EV      4682   N13955  EWR    ALB  26       143      21   55
5   61       EV      4233   N23139  EWR    ALB  29       143      22   15
6  111       EV      4378   N18557  EWR    BWI  33       169      21   45
7   97       EV      4276   N15574  EWR    BDL  24       116      21   52
8  142       WN      2520   N279WN  EWR    MDW  92       711      20   30
9  217       EV      4162   N10575  EWR    ALB  24       143      20    0
10  88       EV      4519   N14916  EWR    BWI  33       169      21   59
   time_hour
1  2013-07-17 21:00:00
2  2013-12-09 22:00:00
3  2013-06-12 21:00:00
4  2013-12-29 21:00:00
5  2013-11-06 22:00:00
6  2013-02-25 21:00:00
7  2013-08-13 21:00:00
8  2013-10-11 20:00:00
9  2013-02-26 20:00:00
10 2013-01-24 21:00:00

### Exercise 4

Was there a flight on every day of 2013?

In [16]:
flights |>
  distinct(year, month, day) |>
  nrow()

[1] 365

### Exercise 5

Which flights traveled the farthest distance? Which traveled the least distance?

In [17]:
flights |>
  arrange(desc(distance), .keep_all = TRUE) |>
  head(10)

   year month day dep_time sched_dep_time dep_delay arr_time sched_arr_time
1  2013 1      1   857     900              -3      1516     1530
2  2013 1      2   909     900               9      1525     1530
3  2013 1      3   914     900              14      1504     1530
4  2013 1      4   900     900               0      1516     1530
5  2013 1      5   858     900              -2      1519     1530
6  2013 1      6  1019     900              79      1558     1530
7  2013 1      7  1042     900             102      1620     1530
8  2013 1      8   901     900               1      1504     1530
9  2013 1      9   641     900            1301      1242     1530
10 2013 1     10   859     900              -1      1449     1530
   arr_delay carrier flight tailnum origin dest air_time distance hour minute
1   -14      HA      51     N380HA  JFK    HNL  659      4983     9    0
2    -5      HA      51     N380HA  JFK    HNL  638      4983     9    0
3   -26      HA      51     N380HA  JFK    HNL  616      4983     9    0
4   -14      HA      51     N384HA  JFK    HNL  639      4983     9    0
5   -11      HA      51     N381HA  JFK    HNL  635      4983     9    0
6    28      HA      51     N385HA  JFK    HNL  611      4983     9    0
7    50      HA      51     N385HA  JFK    HNL  612      4983     9    0
8   -26      HA      51     N389HA  JFK    HNL  645      4983     9    0
9  1272      HA      51     N384HA  JFK    HNL  640      4983     9    0
10  -41      HA      51     N388HA  JFK    HNL  633      4983     9    0
   time_hour
1  2013-01-01 09:00:00
2  2013-01-02 09:00:00
3  2013-01-03 09:00:00
4  2013-01-04 09:00:00
5  2013-01-05 09:00:00
6  2013-01-06 09:00:00
7  2013-01-07 09:00:00
8  2013-01-08 09:00:00
9  2013-01-09 09:00:00
10 2013-01-10 09:00:00

In [19]:
flights |>
  arrange(distance, .keep_all = TRUE) |>
  head(10)

   year month day dep_time sched_dep_time dep_delay arr_time sched_arr_time
1  2013 7     27    NA      106            NA         NA      245
2  2013 1      3  2127     2129            -2       2222     2224
3  2013 1      4  1240     1200            40       1333     1306
4  2013 1      4  1829     1615           134       1937     1721
5  2013 1      4  2128     2129            -1       2218     2224
6  2013 1      5  1155     1200            -5       1241     1306
7  2013 1      6  2125     2129            -4       2224     2224
8  2013 1      7  2124     2129            -5       2212     2224
9  2013 1      8  2127     2130            -3       2304     2225
10 2013 1      9  2126     2129            -3       2217     2224
   arr_delay carrier flight tailnum origin dest air_time distance hour minute
1   NA       US      1632   NA      EWR    LGA  NA       17        1    6
2   -2       EV      3833   N13989  EWR    PHL  30       80       21   29
3   27       EV      4193   N14972  EWR    PHL  30       80       12    0
4  136       EV      4502   N15983  EWR    PHL  28       80       16   15
5   -6       EV      4645   N27962  EWR    PHL  32       80       21   29
6  -25       EV      4193   N14902  EWR    PHL  29       80       12    0
7    0       EV      4619   N22909  EWR    PHL  22       80       21   29
8  -12       EV      4619   N33182  EWR    PHL  25       80       21   29
9   39       EV      4619   N11194  EWR    PHL  30       80       21   30
10  -7       EV      4619   N17560  EWR    PHL  27       80       21   29
   time_hour
1  2013-07-27 01:00:00
2  2013-01-03 21:00:00
3  2013-01-04 12:00:00
4  2013-01-04 16:00:00
5  2013-01-04 21:00:00
6  2013-01-05 12:00:00
7  2013-01-06 21:00:00
8  2013-01-07 21:00:00
9  2013-01-08 21:00:00
10 2013-01-09 21:00:00

### Exercise 6

Does it matter what order you used filter() and arrange() if you’re using both? Why/why not? Think about the results and how much work the functions would have to do.

**Answer:** yes. Running `filter` and then `arrange` is more efficiente since `arrange` will have less rows to sort through. Functionally both ways return the same result but running `filter` first is generally faster.

## Intro to `mutate`

In [3]:
flights |>
  mutate(
    gain = dep_delay - arr_delay,
    speed = distance / (air_time / 60),
    .before = 1
  ) |>
  sample_n(10)

   gain speed    year month day dep_time sched_dep_time dep_delay arr_time
1    2  343.5938 2013  5    10  1704     1500           124       1847
2   18  356.5289 2013 11    22  1653     1650             3       1809
3  -22  377.1041 2013 12    21  1016     1025            -9       1353
4   12  426.4000 2013  8    21   725      739           -14        907
5   -7  413.8065 2013  1    10  1524     1530            -6       1856
6   23  438.2609 2013  9     1   825      829            -4       1000
7   -4  332.4000 2013 12    26  1825     1824             1       1950
8   33  463.9877 2013  5    11  2018     1931            47       2319
9  -13  418.0435 2013  6     4  1518     1500            18       1753
10  24  379.5349 2013  7     2   920      920             0       1109
   sched_arr_time ⋯ carrier flight tailnum origin dest air_time distance hour
1  1645           ⋯ AA       341   N4YJAA  LGA    ORD  128       733     15
2  1824           ⋯ UA       708   N825UA  EWR    ORD  121       719     16
3  1340           ⋯ AA      1131   N3ACAA  LGA    DFW  221      1389     10
4   933           ⋯ EV      4691   N13161  EWR    DAY   75       533      7
5  1855           ⋯ AA      1039   N3DWAA  JFK    FLL  155      1069     15
6  1027           ⋯ DL      1157   N321NB  EWR    MSP  138      1008      8
7  1945           ⋯ EV      4131   N15574  EWR    RIC   50       277     18
8  2305           ⋯ B6       171   N529JB  JFK    SMF  326      2521     19
9  1722           ⋯ EV      4971   N398CA  LGA    CHS   92       641     15
10 1133           ⋯ EV      4952   N391CA  LGA    CLT   86       544      9
   minute time_hour
1   0     2013-05-10 15:00:00
2  50     2013-11-22 16:00:00
3  25     2013-12-21 10:00:00
4  39     2013-08-21 07:00:00
5  30     2013-01-10 15:00:00
6  29     2013-09-01 08:00:00
7  24     2013-12-26 18:00:00
8  31     2013-05-11 19:00:00
9   0     2013-06-04 15:00:00
10 20     2013-07-02 09:00:00

In [6]:
flights |>
  mutate(
    gain = dep_delay - arr_delay,
    speed = distance / (air_time / 60),
    .after = day
  ) |>
  sample_n(10)

   year month day gain speed    dep_time sched_dep_time dep_delay arr_time
1  2013  2    22  -18  393.3333  653      659            -6       1011
2  2013  9    11  -49  418.9655 1802     1735            27       2116
3  2013  2    28   19  416.5161  655      700            -5        950
4  2013  9    26   19  449.7744 1135     1140            -5       1404
5  2013  6     1   -5  416.0000  706      630            36        844
6  2013 10    11    9  456.7742  543      545            -2        816
7  2013 12     4    9  375.4054 1640     1650           -10       1946
8  2013  5    17   -6  445.5882 1938     1940            -2       2247
9  2013 11     2   -7  425.0000 1147     1150            -3       1344
10 2013  3     7   NA        NA   NA      600            NA         NA
   sched_arr_time ⋯ carrier flight tailnum origin dest air_time distance hour
1   959           ⋯ AA      1815   N5EXAA  JFK    MCO  144       944      6
2  2000           ⋯ WN       401   N756SA  LGA    DEN  232      1620     17
3  1014           ⋯ DL      1879   N330NW  LGA    FLL  155      1076      7
4  1428           ⋯ UA      1618   N37253  EWR    TPA  133       997     11
5   803           ⋯ EV      3266   N15572  EWR    RDU   60       416      6
6   827           ⋯ UA      1714   N29717  LGA    IAH  186      1416      5
7  2005           ⋯ AA      1171   N3GUAA  LGA    DFW  222      1389     16
8  2243           ⋯ DL      1435   N953DL  LGA    TPA  136      1010     19
9  1340           ⋯ MQ      3616   N523MQ  LGA    MSP  144      1020     11
10  715           ⋯ EV      5716   N828AS  JFK    IAD   NA       228      6
   minute time_hour
1  59     2013-02-22 06:00:00
2  35     2013-09-11 17:00:00
3   0     2013-02-28 07:00:00
4  40     2013-09-26 11:00:00
5  30     2013-06-01 06:00:00
6  45     2013-10-11 05:00:00
7  50     2013-12-04 16:00:00
8  40     2013-05-17 19:00:00
9  50     2013-11-02 11:00:00
10  0     2013-03-07 06:00:00

In [7]:
flights |>
  mutate(
    gain = dep_delay - arr_delay,
    hours = air_time / 60,
    gain_per_hour = gain / hours,
    .keep = "used"
  ) |>
  sample_n(10)

   dep_delay arr_delay air_time gain hours     gain_per_hour
1  -7         12        96      -19  1.6000000 -11.875000
2  10         11        52       -1  0.8666667  -1.153846
3   5        -10       323       15  5.3833333   2.786378
4  22         26       224       -4  3.7333333  -1.071429
5  67         20       321       47  5.3500000   8.785047
6  -4        -20       111       16  1.8500000   8.648649
7  62         44        63       18  1.0500000  17.142857
8  16          0       192       16  3.2000000   5.000000
9  -4         17       152      -21  2.5333333  -8.289474
10 62         60       110        2  1.8333333   1.090909

## Intro to `select`

In [8]:
flights |>
  select(year, month, day) |>
  sample_n(10)

   year month day
1  2013 12     9
2  2013 10    22
3  2013  3    14
4  2013  9    23
5  2013  9    15
6  2013  7     6
7  2013  8    13
8  2013  3     2
9  2013 10    25
10 2013  4    17

In [9]:
flights |>
  select(year:day) |>
  sample_n(10)

   year month day
1  2013  1    19
2  2013  6    12
3  2013  6    11
4  2013 12    19
5  2013  7    12
6  2013 12     8
7  2013  9    15
8  2013  6     6
9  2013 11    16
10 2013  5     1

In [10]:
flights |>
  select(!year:day) |>
  sample_n(10)

   dep_time sched_dep_time dep_delay arr_time sched_arr_time arr_delay carrier
1   839      845            -6       1014     1030           -16       EV
2  1619     1630           -11       2011     2020            -9       VX
3    NA     2155            NA         NA     2329            NA       EV
4   611      615            -4        903      910            -7       AA
5  1059     1106            -7       1152     1209           -17       EV
6   752      800            -8        949      914            35       US
7  2053     2055            -2       2254     2250             4       MQ
8  1751     1755            -4       2052     2108           -16       B6
9  1252     1300            -8       1404     1415           -11       US
10 2205     1959           126       2332     2140           112       EV
   flight tailnum origin dest air_time distance hour minute time_hour
1  5288   N371CA  LGA    BUF   48       292      8   45     2013-10-23 08:00:00
2    27   N843VA  JFK    SFO  388      2586     16   30     2013-01-23 16:00:00
3  3267   N15983  EWR    ORF   NA       284     21   55     2013-07-22 21:00:00
4  1895   N3GBAA  EWR    MIA  145      1085      6   15     2013-08-02 06:00:00
5  4404   N14570  EWR    PVD   32       160     11    6     2013-06-09 11:00:00
6  2165   N732US  LGA    DCA   60       214      8    0     2013-05-21 08:00:00
7  4573   N737MQ  LGA    DTW   80       502     20   55     2013-03-08 20:00:00
8   989   N587JB  JFK    FLL  155      1069     17   55     2013-02-05 17:00:00
9  2181   N732US  LGA    DCA   39       214     13    0     2013-10-08 13:00:00
10 4649   N17108  LGA    CLE   65       419     19   59     2013-06-28 19:00:00

In [11]:
flights |>
  select(where(is.character)) |>
  sample_n(10)

   carrier tailnum origin dest
1  MQ      N531MQ  LGA    BNA
2  B6      N521JB  LGA    MCO
3  UA      N29124  JFK    LAX
4  B6      N632JB  EWR    FLL
5  UA      N75432  EWR    PBI
6  UA      N38459  EWR    LAS
7  VX      N840VA  EWR    SFO
8  US      NA      LGA    BOS
9  DL      N3742C  JFK    LAS
10 UA      N11206  EWR    FLL

In [14]:
flights |>
  select(matches("^(dep|arr).+")) |>
  sample_n(10)

   dep_time dep_delay arr_time arr_delay
1   727     45         937      47
2  1357     -3        1626      -5
3  1525     10        1800      20
4  1825     30        2029       1
5  2018     83        2310      50
6  1526      6        1824      34
7   734     -1        1013       5
8  1922     -3        2209     -33
9  1626     16        1816      18
10 1234     -6        1532     -23

In [15]:
flights |>
  select(starts_with("dep") | starts_with("arr")) |>
  sample_n(10)

   dep_time dep_delay arr_time arr_delay
1   722     -7         910     -44
2   853     -7        1043     -27
3  1240     -5        1531     -29
4  1045     -7        1322     -44
5  1318     18        1622       0
6   613     -2         915      20
7  1700      1        2025      -9
8   848     48        1107      35
9  1017     -6        1206     -12
10 1100      0        1345     -13

In [16]:
flights |>
  select((starts_with("dep") | starts_with("arr")) & !ends_with("delay")) |>
  sample_n(10)

   dep_time arr_time
1  1238     1507
2  2040      107
3   917     1203
4  1052     1236
5   555      839
6  2109     2348
7  1619     1813
8   602      854
9   827     1015
10 1006     1108

In [17]:
flights |>
  select(tail_num = tailnum) |>
  sample_n(10)

   tail_num
1  N202WN
2  N925XJ
3  N3GBAA
4  N454UA
5  N316JB
6  N551UA
7  N544MQ
8  N3KJAA
9  N635VA
10 N3JMAA

## Intro to `rename`

In [3]:
# Close to `select` but keeps all the other columns as well
flights |>
    rename(tail_num = tailnum) |>
    sample_n(10)

   year month day dep_time sched_dep_time dep_delay arr_time sched_arr_time
1  2013  5     7  2051     1755           176       2207     1930
2  2013  7    29   930      934            -4       1238     1249
3  2013  4    24  1843     1850            -7       2143     2136
4  2013  5    30  2203     1929           154       2332     2109
5  2013  5    14  1759     1759             0       2038     2049
6  2013  1    30  1837     1705            92       2005     1830
7  2013  6    14   644      641             3        927      940
8  2013  2    22  1515     1516            -1       1733     1728
9  2013 10    16   802      808            -6        919      929
10 2013  5     9  1602     1529            33       1809     1753
   arr_delay carrier flight tail_num origin dest air_time distance hour minute
1  157       MQ      4601   N532MQ   LGA    RDU   62       431     17   55
2  -11       UA      1281   N12218   EWR    SFO  355      2565      9   34
3    7       B6       527   N563JB   EWR    MCO  133       937     18   50
4  143       MQ      4569   N723MQ   LGA    RDU   65       431     19   29
5  -11       B6       391   N509JB   LGA    MCO  123       950     17   59
6   95       MQ      4410   N832MQ   JFK    DCA   56       213     17    5
7  -13       UA      1701   N38417   EWR    FLL  142      1065      6   41
8    5       UA       594   N572UA   EWR    DEN  229      1605     15   16
9  -10       B6      2702   N265JB   JFK    BUF   55       301      8    8
10  16       UA      1023   N24211   EWR    DEN  219      1605     15   29
   time_hour
1  2013-05-07 17:00:00
2  2013-07-29 09:00:00
3  2013-04-24 18:00:00
4  2013-05-30 19:00:00
5  2013-05-14 17:00:00
6  2013-01-30 17:00:00
7  2013-06-14 06:00:00
8  2013-02-22 15:00:00
9  2013-10-16 08:00:00
10 2013-05-09 15:00:00

## Intro to `relocate`

In [4]:
flights |>
  relocate(time_hour, air_time) |>
  sample_n(10)

   time_hour           air_time year month day dep_time sched_dep_time
1  2013-04-02 12:00:00 347      2013  4     2  1156     1200
2  2013-04-20 08:00:00 328      2013  4    20   807      810
3  2013-11-08 09:00:00 123      2013 11     8   954      959
4  2013-10-19 11:00:00  85      2013 10    19  1055     1100
5  2013-02-10 09:00:00 316      2013  2    10  1032      950
6  2013-06-25 15:00:00 322      2013  6    25  1544     1530
7  2013-11-05 13:00:00 139      2013 11     5  1311     1313
8  2013-12-28 08:00:00  73      2013 12    28   753      805
9  2013-04-25 12:00:00 111      2013  4    25  1149     1200
10 2013-06-07 12:00:00  35      2013  6     7  1152     1200
   dep_delay arr_time sched_arr_time arr_delay carrier flight tailnum origin
1   -4       1523     1511            12       DL       863   N713TW  JFK
2   -3       1111     1051            20       DL      1429   N655DL  JFK
3   -5       1215     1241           -26       EV      4140   N13979  EWR
4   -5       1314     1304            10       DL      2452   N320NB  LGA
5   42       1306     1311            -5       UA       499   N813UA  EWR
6   14       1908     1850            18       DL        95   N195DN  JFK
7   -2       1553     1609           -16       B6       505   N556JB  EWR
8  -12        922      945           -23       MQ      3531   N845MQ  LGA
9  -11       1401     1354             7       US      1443   N711UW  JFK
10  -8       1256     1309           -13       US      2126   N956UW  LGA
   dest distance hour minute
1  LAX  2475     12    0
2  LAS  2248      8   10
3  ATL   746      9   59
4  DTW   502     11    0
5  SEA  2402      9   50
6  LAX  2475     15   30
7  FLL  1065     13   13
8  RDU   431      8    5
9  CLT   541     12    0
10 BOS   184     12    0

In [5]:
flights |>
  relocate(year:dep_time, .after = time_hour) |>
  sample_n(10)

   sched_dep_time dep_delay arr_time sched_arr_time arr_delay carrier flight
1  1440           -2        1725     1746           -21       DL      1902
2  1400           -7        1445     1506           -21       B6      2480
3  1559           20        1940     1919            21       DL      1373
4   810           -3        1042     1100           -18       UA      1218
5  1830            0        2113     2055            18       UA      1236
6  2030           43          18     2350            28       B6      1069
7  1445            6        1758     1616           102       UA      1290
8   730           55        1235     1129            66       B6      1289
9  2055           -2           3     2359             4       B6      1205
10 1520            0        1715     1705            10       AA       341
   tailnum origin dest air_time distance hour minute time_hour           year
1  N907DL  LGA    PBI  149      1035     14   40     2013-07-02 14:00:00 2013
2  N273JB  EWR    BOS   34       200     14    0     2013-09-16 14:00:00 2013
3  N3757D  JFK    MIA  148      1089     15   59     2013-08-22 15:00:00 2013
4  N15710  EWR    DFW  198      1372      8   10     2013-09-24 08:00:00 2013
5  N36472  EWR    DEN  258      1605     18   30     2013-06-15 18:00:00 2013
6  N273JB  JFK    AUS  217      1521     20   30     2013-01-28 20:00:00 2013
7  N75432  EWR    CLE   61       404     14   45     2013-07-23 14:00:00 2013
8  N584JB  EWR    SJU  214      1608      7   30     2013-07-29 07:00:00 2013
9  N775JB  JFK    PDX  329      2454     20   55     2013-10-25 20:00:00 2013
10 N4WNAA  LGA    ORD  139       733     15   20     2013-11-06 15:00:00 2013
   month day dep_time
1   7     2  1438
2   9    16  1353
3   8    22  1619
4   9    24   807
5   6    15  1830
6   1    28  2113
7   7    23  1451
8   7    29   825
9  10    25  2053
10 11     6  1520

In [6]:
flights |>
  relocate(starts_with("arr"), .before = dep_time) |>
  sample_n(10)

   year month day arr_time arr_delay dep_time sched_dep_time dep_delay
1  2013  6    13  1800       5       1458     1500            -2
2  2013  2    24  1924     -41       1812     1820            -8
3  2013  6    27  1237     -32       1038     1040            -2
4  2013  6    24  2400     214       2246     1859           227
5  2013  4    18  1627     169       1304     1200            64
6  2013  7    10  1155     -15        917      915             2
7  2013  7    16  1940       2       1734     1728             6
8  2013 12    16  1440     -27       1351     1400            -9
9  2013 10    17  1856       9       1611     1600            11
10 2013  6     7  1534     -22       1440     1445            -5
   sched_arr_time carrier flight tailnum origin dest air_time distance hour
1  1755           AA      1813   N5FKAA  JFK    MCO  132       944     15
2  2005           AA       353   N3DUAA  LGA    ORD  115       733     18
3  1309           UA       277   N473UA  EWR    LAS  279      2227     10
4  2026           EV      4131   N11150  EWR    RIC   48       277     18
5  1338           UA       617   N574UA  LGA    ORD  108       733     12
6  1210           AA         1   N320AA  JFK    LAX  302      2475      9
7  1938           EV      4382   N11107  EWR    DTW   77       488     17
8  1507           US      2150   N949UW  LGA    BOS   32       184     14
9  1847           B6       543   N643JB  EWR    PBI  140      1023     16
10 1556           EV      4434   N13968  EWR    MHT   35       209     14
   minute time_hour
1   0     2013-06-13 15:00:00
2  20     2013-02-24 18:00:00
3  40     2013-06-27 10:00:00
4  59     2013-06-24 18:00:00
5   0     2013-04-18 12:00:00
6  15     2013-07-10 09:00:00
7  28     2013-07-16 17:00:00
8   0     2013-12-16 14:00:00
9   0     2013-10-17 16:00:00
10 45     2013-06-07 14:00:00

## Exercises

### Exercise 1

Compare `dep_time`, `sched_dep_time`, and `dep_delay`. How would you expect those three numbers to be related?

In [4]:
flights |>
  select(dep_time, sched_dep_time, dep_delay) |>
  mutate(
    dep_time = sprintf("%04s", dep_time),
    sched_dep_time = sprintf("%04s", sched_dep_time)
  ) |>
  mutate(
    dep_time_hms = hm(paste0(substr(dep_time, 1, 2), ":", substr(dep_time, 3, 4))),
    sched_dep_time_hms = hm(paste0(substr(sched_dep_time, 1, 2), ":", substr(sched_dep_time, 3, 4)))
  ) |>
  mutate(delay = as.numeric(dep_time_hms - sched_dep_time_hms) / 60, .after = dep_delay) |>
  sample_n(10)

Warning message:
“There was 1 warning in `mutate()`.
ℹ In argument: `dep_time_hms = hm(paste0(substr(dep_time, 1, 2), ":",
  substr(dep_time, 3, 4)))`.
Caused by warning in `.parse_hms()`:
! Some strings failed to parse”

   dep_time sched_dep_time dep_delay delay dep_time_hms sched_dep_time_hms
1  0635     0630             5         5   6H 35M 0S    6H 30M 0S
2  1822     1830            -8        -8   18H 22M 0S   18H 30M 0S
3  1827     1815            12        12   18H 27M 0S   18H 15M 0S
4  2304     1845           259       259   23H 4M 0S    18H 45M 0S
5  1744     1726            18        18   17H 44M 0S   17H 26M 0S
6  1655     1703            -8        -8   16H 55M 0S   17H 3M 0S
7  0643     0647            -4        -4   6H 43M 0S    6H 47M 0S
8  1716     1625            51        51   17H 16M 0S   16H 25M 0S
9  0839     0840            -1        -1   8H 39M 0S    8H 40M 0S
10 1927     1930            -3        -3   19H 27M 0S   19H 30M 0S

### Exercise 3

What happens if you specify the name of the same variable multiple times in a `select()` call?

In [6]:
flights |>
  select(dep_time, dep_time) |>
  sample_n(10)

   dep_time
1   613
2   708
3  1604
4  2059
5  1635
6   922
7  1256
8   640
9  1854
10  613

### Exercise 4

What does the `any_of()` function do? Why might it be helpful in conjunction with this vector?

In [27]:
variables <- c("year", "month", "day", "dep_delay", "arr_delay")

In [29]:
flights |>
    select(any_of(variables)) |>
    sample_n(10)

   year month day dep_delay arr_delay
1  2013  9    29  30         18
2  2013  9     4  28         26
3  2013 12    12  -6        -12
4  2013  4    13  -1          3
5  2013 12    22  -2         -3
6  2013 11    13  -2        -41
7  2013  4     5  28         83
8  2013  3     6   2        -15
9  2013  6    17  -8         -3
10 2013  3    16  -4        -12

### Exerice 5

Does the result of running the following code surprise you? How do the select helpers deal with upper and lower case by default? How can you change that default?

In [31]:
flights |>
    select(contains("TIME")) |>
    sample_n(10)

   dep_time sched_dep_time arr_time sched_arr_time air_time time_hour
1  1924     1935           2115     2137            79      2013-06-19 19:00:00
2  1711     1638           1823     1811            51      2013-07-30 16:00:00
3  1239     1245           1600     1600           179      2013-09-25 12:00:00
4  1950     1700           2142     1923            96      2013-08-12 17:00:00
5   556      600            700      715           107      2013-08-24 06:00:00
6  1306     1315           1422     1433            54      2013-04-10 13:00:00
7   821      822           1128     1141           349      2013-11-16 08:00:00
8  1400     1405           1654     1712           335      2013-11-19 14:00:00
9   554      600            721      745           124      2013-12-30 06:00:00
10 1516     1523           1630     1657           117      2013-11-18 15:00:00

In [8]:
flights |>
    select(contains("time", ignore.case = FALSE)) |>
    sample_n(10)

   dep_time sched_dep_time arr_time sched_arr_time air_time time_hour
1  1124     1006           1240     1125            46      2013-12-13 10:00:00
2   958     1000           1326     1341           365      2013-02-18 10:00:00
3  1310     1259           1525     1530            97      2013-05-14 12:00:00
4  1752     1800           1853     1919            41      2013-11-01 18:00:00
5   647      700            943     1001           161      2013-10-22 07:00:00
6  1951     1935           2050     2121            45      2013-05-16 19:00:00
7   628      615            730      715            42      2013-01-02 06:00:00
8   555      600            651      657            32      2013-05-14 06:00:00
9   656      700           1020     1014           169      2013-01-14 07:00:00
10 1616     1556           1842     1852           127      2013-05-09 15:00:00

## Intro to `group_by`

In [14]:
flights |>
    group_by(month) |>
    head()

  year month day dep_time sched_dep_time dep_delay arr_time sched_arr_time
1 2013 1     1   517      515             2         830      819
2 2013 1     1   533      529             4         850      830
3 2013 1     1   542      540             2         923      850
4 2013 1     1   544      545            -1        1004     1022
5 2013 1     1   554      600            -6         812      837
6 2013 1     1   554      558            -4         740      728
  arr_delay carrier flight tailnum origin dest air_time distance hour minute
1  11       UA      1545   N14228  EWR    IAH  227      1400     5    15
2  20       UA      1714   N24211  LGA    IAH  227      1416     5    29
3  33       AA      1141   N619AA  JFK    MIA  160      1089     5    40
4 -18       B6       725   N804JB  JFK    BQN  183      1576     5    45
5 -25       DL       461   N668DN  LGA    ATL  116       762     6     0
6  12       UA      1696   N39463  EWR    ORD  150       719     5    58
  time_hour
1 2013-01-01 05:00:00
2 2013-01-01 05:00:00
3 2013-01-01 05:00:00
4 2013-01-01 05:00:00
5 2013-01-01 06:00:00
6 2013-01-01 05:00:00

## Intro to `summarize`

In [12]:
flights |>
    group_by(month) |>
    summarize(
        avg_dep_delay = mean(dep_delay, na.rm = TRUE),
        nrows = n()
    ) |>
    arrange(desc(avg_dep_delay))

   month avg_dep_delay nrows
1   7    21.727787     29425
2   6    20.846332     28243
3  12    16.576688     28135
4   4    13.938038     28330
5   3    13.227076     28834
6   5    12.986859     28796
7   8    12.611040     29327
8   2    10.816843     24951
9   1    10.036665     27004
10  9     6.722476     27574
11 10     6.243988     28889
12 11     5.435362     27268

## Intro to `slice_` functions

In [18]:
flights |>
    group_by(dest) |>
    slice_max(arr_delay, n = 1) |>
    relocate(dest) |>
    glimpse()

Rows: 108
Columns: 19
Groups: dest [105]
$ dest           <chr> "ABQ", "ACK", "ALB", "ANC", "ATL", "AUS", "AVL", "BDL",…
$ year           <int> 2013, 2013, 2013, 2013, 2013, 2013, 2013, 2013, 2013, 2…
$ month          <int> 7, 7, 1, 8, 7, 7, 8, 2, 12, 4, 1, 3, 6, 9, 11, 6, 1, 12…
$ day            <int> 22, 23, 25, 17, 22, 10, 13, 21, 1, 10, 25, 8, 13, 12, 2…
$ dep_time       <int> 2145, 1139, 123, 1740, 2257, 2056, 1156, 1728, 1504, 25…
$ sched_dep_time <int> 2007, 800, 2000, 1625, 759, 1505, 832, 1316, 1056, 1900…
$ dep_delay      <dbl> 98, 219, 323, 75, 898, 351, 204, 252, 248, 325, 293, 37…
$ arr_time       <int> 132, 1250, 229, 2042, 121, 2347, 1417, 1839, 1628, 136,…
$ sched_arr_time <int> 2259, 909, 2101, 2003, 1026, 1758, 1029, 1413, 1230, 20…
$ arr_delay      <dbl> 153, 221, 328, 39, 895, 349, 228, 266, 238, 291, 364, 4…
$ carrier        <chr> "B6", "B6", "EV", "UA", "DL", "UA", "EV", "EV", "EV", "…
$ flight         <int> 1505, 1491, 4309, 887, 2047, 503, 4175, 4103, 5309, 503…
$ tailnum        <chr> "N784JB", "N192JB", "N13908", "N528UA", "N6716C", "N803…
$ origin         <chr> "JFK", "JFK", "EWR", "EWR", "LGA", "EWR", "EWR", "EWR",…
$ air_time       <dbl> 259, 44, 30, 404, 109, 192, 108, 26, 57, 115, 124, 47, …
$ distance       <dbl> 1826, 199, 143, 3370, 762, 1504, 583, 116, 378, 866, 74…
$ hour           <dbl> 20, 8, 20, 16, 7, 15, 8, 13, 10, 19, 15, 12, 20, 14, 8,…
$ minute         <dbl> 7, 0, 0, 25, 59, 5, 32, 16, 56, 0, 27, 0, 34, 59, 15, 0…
$ time_hour      <dttm> 2013-07-22 20:00:00, 2013-07-23 08:00:00, 2013-01-25 2…

In [19]:
flights |>
    group_by(dest) |>
    slice_max(arr_delay, n = 1, with_ties = FALSE) |>
    relocate(dest) |>
    glimpse()

Rows: 105
Columns: 19
Groups: dest [105]
$ dest           <chr> "ABQ", "ACK", "ALB", "ANC", "ATL", "AUS", "AVL", "BDL",…
$ year           <int> 2013, 2013, 2013, 2013, 2013, 2013, 2013, 2013, 2013, 2…
$ month          <int> 7, 7, 1, 8, 7, 7, 8, 2, 12, 4, 1, 3, 6, 9, 11, 6, 1, 12…
$ day            <int> 22, 23, 25, 17, 22, 10, 13, 21, 1, 10, 25, 8, 13, 12, 2…
$ dep_time       <int> 2145, 1139, 123, 1740, 2257, 2056, 1156, 1728, 1504, 25…
$ sched_dep_time <int> 2007, 800, 2000, 1625, 759, 1505, 832, 1316, 1056, 1900…
$ dep_delay      <dbl> 98, 219, 323, 75, 898, 351, 204, 252, 248, 325, 293, 37…
$ arr_time       <int> 132, 1250, 229, 2042, 121, 2347, 1417, 1839, 1628, 136,…
$ sched_arr_time <int> 2259, 909, 2101, 2003, 1026, 1758, 1029, 1413, 1230, 20…
$ arr_delay      <dbl> 153, 221, 328, 39, 895, 349, 228, 266, 238, 291, 364, 4…
$ carrier        <chr> "B6", "B6", "EV", "UA", "DL", "UA", "EV", "EV", "EV", "…
$ flight         <int> 1505, 1491, 4309, 887, 2047, 503, 4175, 4103, 5309, 503…
$ tailnum        <chr> "N784JB", "N192JB", "N13908", "N528UA", "N6716C", "N803…
$ origin         <chr> "JFK", "JFK", "EWR", "EWR", "LGA", "EWR", "EWR", "EWR",…
$ air_time       <dbl> 259, 44, 30, 404, 109, 192, 108, 26, 57, 115, 124, 47, …
$ distance       <dbl> 1826, 199, 143, 3370, 762, 1504, 583, 116, 378, 866, 74…
$ hour           <dbl> 20, 8, 20, 16, 7, 15, 8, 13, 10, 19, 15, 12, 20, 14, 8,…
$ minute         <dbl> 7, 0, 0, 25, 59, 5, 32, 16, 56, 0, 27, 0, 34, 59, 15, 0…
$ time_hour      <dttm> 2013-07-22 20:00:00, 2013-07-23 08:00:00, 2013-01-25 2…

In [24]:
flights |>
    group_by(dest) |>
    summarize(max_arr_delay = max(arr_delay, na.rm = TRUE)) |>
    arrange(desc(max_arr_delay)) |>
    head(10)

Warning message:
“There was 1 warning in `summarize()`.
ℹ In argument: `max_arr_delay = max(arr_delay, na.rm = TRUE)`.
ℹ In group 52: `dest = "LGA"`.
Caused by warning in `max()`:
! no non-missing arguments to max; returning -Inf”

   dest max_arr_delay
1  HNL  1272
2  CMH  1127
3  ORD  1109
4  SFO  1007
5  CVG   989
6  TPA   931
7  MSP   915
8  ATL   895
9  MIA   878
10 LAS   852

## Grouping by multiple columns

Exercise 4 - Were there flights everyday of the year?

In [38]:
flights |>
    group_by(year, month, day) |>
    summarise(n_flights = n()) |>
    arrange(n_flights) |>
    head(10)

`summarise()` has grouped output by 'year', 'month'. You can override using the
`.groups` argument.

   year month day n_flights
1  2013 11    28  634
2  2013 11    29  661
3  2013  1    19  674
4  2013 10    12  676
5  2013  1    26  680
6  2013  8    31  680
7  2013  2     2  682
8  2013  9    28  682
9  2013  2     9  684
10 2013 10    19  684

In [39]:
flights |>
    group_by(year, month, day) |>
    summarise(n_flights = n(), .groups = "drop_last") |>
    arrange(desc(n_flights)) |>
    head(10)

   year month day n_flights
1  2013 11    27  1014
2  2013  7    11  1006
3  2013  7     8  1004
4  2013  7    10  1004
5  2013 12     2  1004
6  2013  7    18  1003
7  2013  7    25  1003
8  2013  7    12  1002
9  2013  7     9  1001
10 2013  7    17  1001