# Data Frames
How to do basic manipulation with Data Frames? How to run "queries" of their columns?

Let's import the `readr` package to use its fast `read_csv` function

In [2]:
# install.packages("readr")
library("readr")

Now let's pick a `data.frame` to work with. I got this one ðŸ‘‡ from [Kaggle](https://www.kaggle.com/datasets/claymaker/us-largest-companies). It's very interesting and mixes data of different modes (or types).

In [3]:
us_largest_incomes <- read_csv("webscrape.csv")
head(us_largest_incomes)

Rows: 100 Columns: 7
â”€â”€ Column specification â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€â”€
Delimiter: ","
chr (4): Name, Industry, Revenue growth, Headquarters
dbl (1): Rank
num (2): Revenue (USD millions), Employees

â„¹ Use `spec()` to retrieve the full column specification for this data.
â„¹ Specify the column types or set `show_col_types = FALSE` to quiet this message.

  Rank Name               Industry                   Revenue (USD millions)
1 1    Walmart            Retail                     611289
2 2    Amazon             Retail and Cloud Computing 513983
3 3    Exxon Mobil        Petroleum industry         413680
4 4    Apple              Electronics industry       394328
5 5    UnitedHealth Group Healthcare                 324162
6 6    CVS Health         Healthcare                 322467
  Revenue growth Employees Headquarters
1 6.7%           2100000   Bentonville, Arkansas
2 9.4%           1540000   Seattle, Washington
3 44.8%            62000   Spring, Texas
4 7.8%            164000   Cupertino, California
5 12.7%           400000   Minnetonka, Minnesota
6 10.4%           259500   Woonsocket, Rhode Island

In [29]:
length(us_largest_incomes$Rank)

[1] 100

In [32]:
class(us_largest_incomes$Rank)
class(us_largest_incomes$Name)
class(us_largest_incomes$"Revenue (USD millions)")

[1] "numeric"

[1] "character"

[1] "numeric"

In [41]:
mean(us_largest_incomes$"Revenue (USD millions)")
median(us_largest_incomes$"Revenue (USD millions)")
quantile(us_largest_incomes$"Revenue (USD millions)", prob = c(.25, .5, .75, .95, .99))

[1] 117566.5

[1] 80824.5

     25%      50%      75%      95%      99%
 57876.0  80824.5 138763.0 322551.8 514956.1

How many of them are in California?

In [63]:
california_largest_incomes <- us_largest_incomes[grep("California", us_largest_incomes$Headquarters, fixed = TRUE), ]

length(california_largest_incomes$Rank)
mean(california_largest_incomes$"Revenue (USD millions)")
quantile(california_largest_incomes$"Revenue (USD millions)", prob = c(.25, .5, .75, .95, .99))
head(california_largest_incomes)

[1] 10

[1] 142740

      25%       50%       75%       95%       99%
 63000.75  82790.50 213841.25 344156.60 384293.72

  Rank Name                    Industry             Revenue (USD millions)
1  4   Apple                   Electronics industry 394328
2  8   Alphabet                Technology           282836
3 10   Chevron Corporation     Petroleum industry   246252
4 31   Meta Platforms          Technology           116609
5 47   Wells Fargo             Financials            82859
6 48   The Walt Disney Company Media                 82722
  Revenue growth Employees Headquarters
1 7.8%           164000    Cupertino, California
2 9.8%           156000    Mountain View, California
3 51.6%           43846    San Ramon, California
4 1.1%            86482    Menlo Park, California
5 0.5%           238000    San Francisco, California
6 22.7%          195800    Burbank, California

How many of them are in Tech?

In [81]:
tech_in_ca <- california_largest_incomes[grep("Technology", california_largest_incomes$Industry, fixed = TRUE), ]

num_of_ca_companies <- length(california_largest_incomes$Rank)
num_of_ca_tech_companies <- length(tech_in_ca$Rank)
sprintf("Tech companies make up %s%% of the largest companies of California (or %d in %d)",
    (num_of_ca_tech_companies / num_of_ca_companies) * 100,
    num_of_ca_tech_companies,
    num_of_ca_companies)
mean(tech_in_ca$"Revenue (USD millions)")
quantile(tech_in_ca$"Revenue (USD millions)", prob = c(.25, .5, .75, .95, .99))
head(tech_in_ca)

[1] "Tech companies make up 50% of the largest companies of California (or 5 in 10)"

[1] 113936.4

     25%      50%      75%      95%      99%
 62983.0  63054.0 116609.0 249590.6 276186.9

  Rank Name           Industry   Revenue (USD millions) Revenue growth
1   8  Alphabet       Technology 282836                 9.8%
2  31  Meta Platforms Technology 116609                 1.1%
3  64  Intel          Technology  63054                 20.1%
4  65  HP             Technology  62983                 0.8%
5 100  Qualcomm       Technology  44200                 31.7%
  Employees Headquarters
1 156000    Mountain View, California
2  86482    Menlo Park, California
3 131900    Santa Clara, California
4  58000    Palo Alto, California
5  51000    San Diego, California